;; -*- mode: Lisp; -*-

(setq prj-version "0.4")

(setq prj-config
      '(("project-name" . "trescarabelas")))

(setq prj-tools
      '(("Make" "make" "f9")
	("Clean" "make clean" "C-f9")
	("Run" "LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/gcc-4.8/libexec/gcc/i686-pc-linux-gnu/4.9.0:/opt/gcc-4.8/lib ./bin/trescarabelas" "f8")
	("RunTest" "LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/gcc-4.8/libexec/gcc/i686-pc-linux-gnu/4.9.0:/opt/gcc-4.8/lib ./bin/HelloCpp -t" "f6")
	("Stop" "-e eproject-killtool" "C-f8")
	("GDB (C-f7)		  : -e gdb --run ./bin/trescarables")
	("---" nil nil)
	("Configure" "./configure" nil)
	("---" nil nil)
	("Explore Project" "nautilus --browser `pwd` &" nil)
	("XTerm In Project" "xterm &" nil)))

(setq prj-files
      '(("README.md" 10 22)
	("Classes/ArcadeScene.h" 6 16)
	("Classes/GameTestArcadeScene.h" 1 14)
	("Classes/GameTestArcadeScene.cpp" 11 19)
	("Classes/Board.cpp" 31 31)
	("../../cocos/base/CCPlatformMacros.h" 32 42)
	("CMakeLists.txt" 126 131)
	("Classes/Indian.h" 6 18)
	("Classes/Grid.h" 73 97)
	("Classes/SphereFactory.cpp" 1 1)
	("proj.linux/main.cpp" 1 16)
	("Classes/Tests/Tests.h" 9 14)
	("Classes/Sphere.cpp" 48 50)
	("Classes/Game.h" 6 12)
	("Classes/HelloWorldScene.h" 17 17)))

(setq prj-curfile "CMakeLists.txt")

(setq prj-functions nil)

