;; -*- mode: Lisp; -*-

(setq prj-version "0.4")

(setq prj-config
      '(("project-name" . "trescarabelas")))

(setq prj-tools
      '(("Make" "make" "f9")
	("Clean" "make clean" "C-f9")
	("Run" "LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/gcc-4.8/libexec/gcc/i686-pc-linux-gnu/4.9.0:/opt/gcc-4.8/lib ./bin/trescarabelas" "f8")
	("RunTest" "LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/gcc-4.8/libexec/gcc/i686-pc-linux-gnu/4.9.0:/opt/gcc-4.8/lib ./bin/trescarabelas -t" "f6")
	("Stop" "-e eproject-killtool" "C-f8")
	("GDB (C-f7)		  : -e gdb --run ./bin/trescarables")
	("---" nil nil)
	("Configure" "./configure" nil)
	("---" nil nil)
	("Explore Project" "nautilus --browser `pwd` &" nil)
	("XTerm In Project" "xterm &" nil)))

(setq prj-files
      '(("Classes/ArcadeScene.cpp" 21 29)
	("Classes/Indian.cpp" 1 5)
	("Classes/Board.h" 72 83)
	("Classes/Board.cpp" 284 293)
	("Classes/Tests/BoardTest.h" 46 61)
	("Classes/BoardPopulaterRandom.cpp" 6 6)
	("Classes/HelloWorldScene.h" 17 17)))

(setq prj-curfile "Classes/ArcadeScene.cpp")

(setq prj-functions nil)

