;; -*- mode: Lisp; -*-

(setq prj-version "0.4")

(setq prj-config
      '(("project-name" . "trescarabelas")))

(setq prj-tools
      '(("Make" "make" "f9")
	("Clean" "make clean" "C-f9")
	("Run" "LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/gcc-4.8/libexec/gcc/i686-pc-linux-gnu/4.9.0:/opt/gcc-4.8/lib ./bin/trescarabelas" "f8")
	("RunTest" "LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/gcc-4.8/libexec/gcc/i686-pc-linux-gnu/4.9.0:/opt/gcc-4.8/lib ./bin/trescarabelas -t" "f6")
	("Stop" "-e eproject-killtool" "C-f8")
	("GDB (C-f7)		  : -e gdb --run ./bin/trescarables")
	("---" nil nil)
	("Configure" "./configure" nil)
	("---" nil nil)
	("Explore Project" "nautilus --browser `pwd` &" nil)
	("XTerm In Project" "xterm &" nil)))

(setq prj-files
      '(("Classes/ArcadeMenuScene.cpp" 1 15)
	("Classes/ArcadeMenu/EasyMenu.cpp" 131 131)
	("Classes/Board.cpp" 1 1)
	("Classes/ArcadeMenu/EasyMenu.h" 16 16)
	("Classes/ArcadeScene.cpp" 514 527)
	("Classes/LevelManager.cpp" 35 53)
	("Classes/ArcadeScene.h" 65 78)
	("Classes/MenuScene.cpp" 178 190)
	("Classes/Effects.h" 24 24)
	("Classes/Grid.h" 144 144)
	("Classes/HelloWorldScene.h" 17 17)))

(setq prj-curfile "Classes/ArcadeScene.cpp")

(setq prj-functions nil)

